z# محیط مجازی پایتون
venv/

# فایل‌های پایگاه داده SQLite
*.sqlite3
*.sqlite3-*

# فایل‌های حساس
.env
secrets.py

# فایل‌های تولید شده توسط پایتون
__pycache__/
*.pyc

# لاگ‌ها
*.log

# تنظیمات IDE
.vscode/
.idea/